.task {
    width: 512px;
    min-height: 45px;
    background-color: var(--task-background-color);
    padding: 0px 20px 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 35px;
    border: 2px solid var(--input-background-color);
    border-radius: 2px;
    font-size: 18px;
    font-weight: 500;    
    cursor: pointer;
}

.task-name {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 8px 0;
    overflow-wrap: anywhere;
}

.task-icon {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    background-color: var(--task-completed-background-color);
}

@media (max-width: 625px) {
    .task {
        width: auto;
        margin: 10px 35px;
    }
}

@media (max-width: 525px) {
    .task {
        width: auto;
        margin: 10px 15px;
    }
}