* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.App {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #CCD5AE;
}

.main-container {
    min-height: 500px;
    background-color: #D4A373;
    border: 2px solid #583101;
    border-radius: 5px;
    margin: 100px 0 100px 0;
    padding-bottom: 30px;
}
